<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
      <add name="user-service" path="user-service/index.js" verb="*" modules="iisnode" resourceType="Unspecified" />
      <add name="category-service" path="category-service/index.js" verb="*" modules="iisnode" resourceType="Unspecified" />
      <add name="quote-service" path="quote-service/index.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>

    <rewrite>
      <rules>


        <rule name="subcategory-service" stopProcessing="true">
          <match url="^api/sub-category(/.*)?$" />
          <action type="Rewrite" url="/category-service/index.js/{R:1}" />
        </rule>

        <rule name="quote-subcategory-service" stopProcessing="true">
          <match url="^api/quote/sub-category(/.*)?$" />
          <action type="Rewrite" url="/quote-service/index.js/{R:1}" />
        </rule>

        <rule name="subcategory-category-service" stopProcessing="true">
          <match url="^api/sub-category/category/(/.*)?$" />
          <action type="Rewrite" url="/category-service/index.js/{R:1}" />
        </rule>

        <rule name="category-service" stopProcessing="true">
          <match url="^api/category(/.*)?$" />
          <action type="Rewrite" url="/category-service/index.js/{R:1}" />
        </rule>

        <rule name="quote-service" stopProcessing="true">
          <match url="^api/quote(/.*)?$" />
          <action type="Rewrite" url="/quote-service/index.js/{R:1}" />
        </rule>

        <rule name="quotetype-service" stopProcessing="true">
          <match url="^api/quote-type(/.*)?$" />
          <action type="Rewrite" url="/quote-service/index.js/{R:1}" />
        </rule>

        <rule name="user-service" stopProcessing="true">
          <match url="^api(/.*)?$" />
          <action type="Rewrite" url="/user-service/index.js/{R:1}" />
        </rule>
        
        <rule name="ReactRoutes" stopProcessing="true">
            <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                  <add input="{REQUEST_URI}" pattern="^/(api|user-service|category-service|quote-service)/" negate="true" />
                </conditions>
              <action type="Rewrite" url="/index.html" />
        </rule>

        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^index.js/debug[\/]?" />
        </rule>
      </rules>
    </rewrite>

    <directoryBrowse enabled="true" />

    <iisnode devErrorsEnabled="false" debuggingEnabled="false" loggingEnabled="true" nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
  </system.webServer>
</configuration>